body {
    background-color: black;
    color: white;
}

a {
    color: white;
}

.error{
    color: red;
}

.confirm {
    color: green;
}

.flashes {
    text-align: center;
    list-style-type: none;
}

a.nav {
    padding: 5px 5px;
}

footer {
    text-align:right;
    font-size: 10pt;
    font-style: italic;
}

#title, #content {
    width: 80%;
    margin: 0 auto;
}

#post-title {
    text-align: center;
}

#user-panel, #nav{
    padding: 5px;
}

#login, #signup {
    margin: 0 auto;
}

td.submit {
    text-align: right;
}