<!DOCTYPE html>
<html>
    <head>
        <title>{{ pagetitle }}</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        
        <a href="/blog" class="nav blog">Main Blog Page</a>
        <a href="/newpost" class="nav new-post">Add a Blog Entry</a><br/>

        <h1><a href="/blog" class="title">This might be a blog?</a></h1>

        <hr>

        {% block content %}
        {% endblock %}

    </body>
</html>
