<!DOCTYPE html>
<html>
    <head>
        <title>{{ pagetitle }}</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div style='float: right'>
          {% if 'user' in session %}
            <form action="logout" method="post" id='logout'>
              <label>logged in as {{ session['user'] }} &nbsp;<input type="submit" value="Log Out" /></label>
            </form>
          {% else %}
            <a href="login">login</a> | <a href="signup">signup</a>
          {% endif %}
        </div>
        <a href="/" class="nav home">home</a>
        <a href="blog" class="nav blog">all blogs</a>
        <a href="newpost" class="nav new-post">add a blog</a><br/>

        <div name="title">
        {% block title %}
        {% endblock %}
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <p class=flashes>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <hr>

        {% block content %}
        {% endblock %}

    </body>
</html>
