<!DOCTYPE html>
<html>
    <head>
        <title>{{ pagetitle }}</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
          <div style='float: right'>
          {% if 'user' in session %}
            {{ session['user'] }}
            <form action="/logout" method="post" id='logout'>
              <input type="submit" value="Log Out" />
            </form>
          {% else %}
            <a href="login">login</a> | <a href="register">register</a>
          {% endif %}
        </div>
        
        <a href="/blog" class="nav blog">Main Blog Page</a>
        <a href="/newpost" class="nav new-post">Add a Blog Entry</a><br/>

        <h1><a href="/blog" class="title">This might be a blog?</a></h1>

        <hr>

        {% block content %}
        {% endblock %}

    </body>
</html>
