{% extends 'base.html' %}

{% block title %}
    <h1 class="post-title">all blogposts</h1>
{% endblock %}

{% block content %}
<!-- TODO: display all blog posts below -->
{% if blogid %}
    <h2 align="center" class="post title direct">{{ title }}</h2>
    <hr width="200px">
    <p class="post content direct">{{ body }}</p>
    <footer>posted by <a href="?userid={{ owner_id }}">{{ owner }}</a> on {{ date }}</footer>
{% elif posts|length == 0 %}
    <p>no users have posted yet</p>
{% else %}
    {% for post in posts %}
        <a href="?id={{ post.id }}">{{ post.title }}</a>&nbsp;
        <p class="post mainpage content">{{ post.body }}</p>
        <footer>posted by <a href="?userid={{ post.owner_id }}">{{ post.owner.username }}</a> on {{ post.date }}</footer>
        <hr/>
    {% endfor %}
{% endif %}

{% endblock content %}