{% extends "base.html" %}

{% block title %}
    <h1 class="post-title">login</h1>
{% endblock %}

{% block content %}

<form action="/login" method="post">

<table id="login" class="form login">
  <tr>
    <td>username</td>
    <td><input type="text" name="username"/></td>
  </tr>
  <tr>
    <td>password</td>
    <td><input type="password" name="password"/></td>
  </tr>
  <tr>
    <td class="submit" colspan="2"><input type="submit" value="Login"/></td>
  </tr>
</table>
  <!-- <p><label>username<input type="text" name="username"/></label></p>
  <p><label>password<input type="password" name="password"/></label></p>
  <p><input type="submit" value="Login"/></p> -->
</form>

{% endblock %}
