{% extends 'base.html'%}

{% block title %}
    <h1 class="post-title">create a new post</h1>
{% endblock %}

{% block content %}
<!-- TODO: show an error if either field is left empty -->
<p class="error">{{ error_msg }}</p>
<form action="/newpost" method="post">

    <label>title:
    <input type="text" name="title" id="title" width="50" value="{{ title }}"/>
    </label>
    <br/>

    <p>body:</p>
    <textarea name="body" id="body" rows="10" cols="50">{{ body }}</textarea>
    <br/>

    <input type="submit" value="create a new post"/>

</form>
{% endblock content %}
